body {
  font-family: "Poppins", sans-serif;
  background-color: #faf9f6;
  display:flex;
  flex-direction:column
}
.main{font-size:1rem;}
.card{margin:10px;width:45%}
.left{float:left;}
.right{float:right}
img{ float:left; margin:20px}
.Blue {color:blueviolet}
h1 {font-size:5rem}
@media (max-width:700px){
.card {display:block;text-align:justify;width:100%};
.card>img {width:100%;margin-bottom:20px};
.logo {font-size:125px};
h1 {text-align:center;font-size:2.5rem}


}



h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

